@font-face {
    font-family: 'Source Code Pro';
    src: url('font.ttf') format('truetype');
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
body {
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: black;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}
#canvas {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 1;
}
#backArrow {
    position: fixed;
    z-index: 2;
}
#text {
    position: relative;
    z-index: 3;
}
h1 {
	font-size: 2em;
	font-weight: normal;
}
ul {
	list-style-type: none;
	padding: 0;
}
ul li {
	margin: 1em 0;
}
ul li a {
	color: black;
	text-decoration: none;
}
ul li a:hover {
	color: orange; /* Make links appear orange when hovered over */
}
div {
	max-width: 800px; /* Limit the width of the div */
	margin: auto; /* Center the div */
	text-align: left; /* Align the text to the left */
	padding: 0 20px;
}
.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}
#player {
    display: block; /* or 'flex' */
    height: 300px; /* Adjust this value as needed */
    opacity: 0; /* Hide the content */
    overflow: auto; /* Add a scrollbar if the content exceeds the div's height */
    transition: opacity 0.3s; /* Smooth transition */
}

.player-content {
	width: 100%; /* Adjust this value as needed */
    margin: 0 auto;
}

.grid-item img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); /* Add a slight shadow */
}

.grid-item figure {
    text-align: center;
}

.grid-item figcaption {
    font-size: 0.6em;
    color: black;
}

.grid-container, #player {
    margin: 0 auto;
    text-align: center;
}

.description {
    text-align: center; /* Center the text within the div */
	height: 100px; /* Adjust this value as needed */
    overflow: auto; /* Add a scrollbar if the text exceeds the div's height */
}

.player {
    text-align: center; /* Center the player within the div */
    height: 150px; /* Adjust this value as needed */
    overflow: hidden; /* Hide any content that exceeds the div's height */
}
@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
    #player {
        width: 90%; /* Adjust this value as needed */
        margin: 0 auto;
    }
    /* Add a selector for the description text if it's not inside the #player */
    .description {
        width: 90%; /* Adjust this value as needed */
        margin: 0 auto;
    }
}
@media (min-width: 601px) {
    .grid-container {
        margin-top: 300px; /* Adjust this value as needed */
    }
}